.menu-header-bg{
    width: 180px;
    height: 350px;
}
.line{
    width: 350px;
    height: 60px;
    border-bottom: solid 2px white;
}
ul{
    position: relative;
    right: 10vw;
    list-style: none;
}
li{
    width: 350px;
    height: 60px;
    border-bottom: solid 2px white;
}